@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

:root {
  --off-white: #f1faee;
  --light-blue: #a8dadc;
  --cyan: #457b9d;
  --dark-cyan: #1d3557;
  --soft-red: #e63946;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: white;
}

main {
  margin-top: 70px;
  max-width: 1050px;
  min-width: 80vw;
  padding: 0px 20px;
  margin-bottom: 20px;
}

h2 {
  color: var(--dark-cyan);
  font-weight: 900;
  letter-spacing: 2px;
}

p {
  color: var(--dark-cyan);
  font-size: 18px
}

#coding-area {
  margin: 10px 0px 15px 0px;
  display: flex;
  border: 1px solid var(--dark-cyan);
}

.container {
  padding: 10px;
  width: 50%;
  min-height: 480px;
  background-color: white;
  border-left: 1px solid var(--dark-cyan);
  overflow: hidden;
  opacity: .8;
  position: relative;
}

#container {
  width: 90%;
}

.box {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

h3 {
  font-size: 2rem;
  color: var(--off-white);
}

textarea {
  font-size: 1rem;
  margin: 5px 0px;
  padding: 5px 10px;
  outline-color: var(--off-white);
  background-color: var(--off-white);
  border: none;
  letter-spacing: 2px;
  resize: none;
}

.input-code {
  width: 50%;
  padding: 10px 10px;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.txt-area>p {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.app-rem-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 30px;
  background-color: var(--soft-red);
  color: var(--off-white);
  font-size: 1rem;
  font-weight: 700;
  border: 3px solid var(--soft-red);
  border-radius: 10px;
  transition: all .2s linear;
}

.btn:hover {
  background-color: white;
  color: var(--soft-red);
}

.under-lay {
  background-image: url(./images/level1.jpg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: -2;
}

.arr-btn {
  padding: 5px;
  background-color: white;
  border: 1px solid var(--dark-cyan);
  border-radius: 8px;
}

.arr-btn>img {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.right-arr {
  rotate: 180deg;
}

.select-lvl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(width <700px) {
  main {
    padding: 0;
    width: 95%;
  }

  #coding-area {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .container {
    padding: 10px 10px 10px 10px;
    width: 100%;
    border-left: none;
    border-bottom: 1px solid var(--dark-cyan);
  }

  .input-code {
    width: 100%;
  }
}